.movie_element_poster {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  @media (max-width: 1199px) {
    .movie_element_poster {
      height: 400px;
    }
  }
  
  @media (max-width: 767px) {
    .movie_element_poster {
      height: 260px;
    }
  }
  
  @media (max-width: 575px) {
    .movie_element_poster {
      height: 350px;
    }
  }