.genres {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .genre {
      font-family: ProximaNovaRegular,Arial,Verdana,Tahoma,sans-serif;
      margin-right: 10px;
    }