.sort_by_button {
    cursor: pointer;
    font-size: 18px;
    line-height: 25px;
    font-family: ProximaNovaBold,Arial,Verdana,Tahoma,sans-serif;
  }
  
  .sort_by_input {
    display: none;
  }
  
  .sort_by_input:checked + .sort_by_button {
    color: #f15c6f;
  }
  
  .search_type_button {
    cursor: pointer;
    background-color: #343939;
    color: #fff;
    border: none;
    padding: 5px 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: ProximaNovaBold,Arial,Verdana,Tahoma,sans-serif;
  }
  
  .search_type_input {
    display: none;
  }
  
  .search_type_input:checked + .search_type_button {
    background-color: #f15c6f;
  }
  
  @media (max-width: 321px) {
    .search_type_button {
      padding: 5px 23px;
    }
  }